/* Global */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    margin: 0px;
    padding: 0px;
}

/** Content Lobby*/
.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-image: url(../Images/Background-Lobby.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}
.input-parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    width: 100%;
    max-width: 400px;
}
.input-paragraft {
    color: #FFD700;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 0 0 20px rgba(255, 215, 0, 0.6);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    margin-bottom: 0px;
}
.input-paragraft:hover {
    color: #32CD32;
    text-shadow: 0 0 15px rgba(50, 205, 50, 1), 0 0 30px rgba(50, 205, 50, 0.8);
}
.input-number {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #FFD700;
    background-color: #222;
    color: #FFD700; 
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    outline: none;
    transition: all 0.3s ease-in-out;
}
.input-number:focus {
    border-color: #FF4500;
    box-shadow: 0 0 20px rgba(255, 69, 0, 0.8);
    background-color: #333;
}
.input-number:hover {
    border-color: #32CD32;
    box-shadow: 0 0 20px rgba(50, 205, 50, 0.8);
}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.generate-button {
    padding: 15px 30px;
    font-size: 20px;
    color: #FFD700;
    background-color: #222;
    border: 2px solid #FFD700;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    transition: all 0.3s ease-in-out;
}
.generate-button:focus,
.generate-button:hover {
    background-color: #333;
    border-color: #FF4500; 
    box-shadow: 0 0 20px rgba(255, 69, 0, 0.8);
}

/** Content Game*/
.container-game {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../Images/Background-Game.jpg);
}
.carta { 
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: black;
}